@import "../utils/styles/index.scss";

.Landing {
  width: 100vw;
  height: 90vh;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  position: relative;

  .US_map {
    width: 100%;
    height: auto;

    @include lg {
      height: 613px;
      width: auto;
    }
  }
}
